In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
kg = pd.read_csv('./DB/Food_Supply_Quantity_kg_Data.csv')
protein = pd.read_csv('./DB/Protein_Supply_Quantity_Data.csv')
kcal = pd.read_csv('./DB/Food_Supply_kcal_Data.csv')
fat = pd.read_csv('./DB/Fat_Supply_Quantity_Data.csv')
desc = pd.read_csv('./DB/Supply_Food_Data_Descriptions.csv')

In [5]:
kg.columns

Index(['Country', 'Alcoholic Beverages', 'Animal fats', 'Animal Products',
       'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs',
       'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat',
       'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops',
       'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners',
       'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables',
       'Vegetal Products', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths',
       'Recovered', 'Active', 'Population', 'Unit (all except Population)'],
      dtype='object')

In [12]:
df = kg[['Country','Population','Confirmed','Deaths','Recovered','Active']]
df.head()

               Country  Population  Confirmed    Deaths  Recovered    Active
0          Afghanistan  38928000.0   0.142134  0.006186   0.123374  0.012574
1              Albania   2838000.0   2.967301  0.050951   1.792636  1.123714
2              Algeria  44357000.0   0.244897  0.006558   0.167572  0.070767
3               Angola  32522000.0   0.061687  0.001461   0.056808  0.003419
4  Antigua and Barbuda     98000.0   0.293878  0.007143   0.190816  0.095918

In [13]:
df.isna().sum()

Country       0
Population    0
Confirmed     6
Deaths        6
Recovered     6
Active        8
dtype: int64

In [14]:
col = list(df.columns)
for c in col[1:] :
    df = df[df[c].notna()]

In [18]:
df['ratio_Deaths'] = df['Deaths']/df['Confirmed']
df['ratio_Recovered'] = df['Recovered']/df['Confirmed']
df['ratio_Active'] = df['Active']/df['Confirmed']
df['Population_Confirm'] = df['Confirmed']*df['Population']
df['Population_Deaths'] = df['Deaths']*df['Population']
df['Population_Recovered'] = df['Recovered']*df['Population']
df['Population_Active'] = df['Active']*df['Population']
df.head()

,Country,Population,Confirmed,Deaths,Recovered,Active,ratio_Deaths,ratio_Recovered,ratio_Active,Population_Confirm,Population_Deaths,Population_Recovered,Population_Active
0,Afghanistan,38928000.0,0.142134,0.006186,0.123374,0.012574,0.043521,0.868010,0.088469,5533000.0,240800.0,4802700.0,489500.0
1,Albania,2838000.0,2.967301,0.050951,1.792636,1.123714,0.017171,0.604130,0.378699,8421200.0,144600.0,5087500.0,3189100.0
2,Algeria,44357000.0,0.244897,0.006558,0.167572,0.070767,0.026779,0.684256,0.288965,10862900.0,290900.0,7433000.0,3139000.0
3,Angola,32522000.0,0.061687,0.001461,0.056808,0.003419,0.023677,0.920895,0.055428,2006200.0,47500.0,1847500.0,111200.0
4,Antigua and Barbuda,98000.0,0.293878,0.007143,0.190816,0.095918,0.024306,0.649306,0.326389,28800.0,700.0,18700.0,9400.0